/* Start Profile Page  */


.profile-page .avatar-box {
    width: 300px;
}

@media (min-width:768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #ddd;
    }

}

@media (max-width:767px) {
    .profile-page .overview {
        justify-content: center;

    }

    .profile-page .overview {
        flex-direction: column;
    }

}

.profile-page .avatar-box>img {
    width: 120px;
    height: 120px;
}

.profile-page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}

.profile-page .avatar-box .level span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--blue-color);
    height: 100%;
    border-radius: 6px;
}

/****/

.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.profile-page .info-box .box>div {
    min-width: 250px;
    padding-top: 15px;
}

@media (min-width:768px) {
    .profile-page .info-box .box>div {
        min-width: 250px;
        margin-bottom: 10px;
    }

    .profile-page .info-box .box h4 {
        margin-bottom: 15px;
    }

}

/* Start other data  */
@media (max-width:767px) {
    .profile-page .other-data {
        flex-direction: column;
    }

}

.profile-page .skills-card {
    flex-grow: 1;
}


.profile-page .skills-card ul li {
    padding: 10px;
}

.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid rgb(241, 241, 241);
}

.profile-page .skills-card ul li span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #EEE;
    font-size: 14px;
    border-radius: 6px;
}

.profile-page .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}

.profile-page .Activities {
    flex-grow: 2;
}

.profile-page .activity:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}

.profile-page .Activities img {
    width: 64px;
    height: 64px;
    margin-right: 15px;
}

@media (max-width:767px) {
    .profile-page .activity {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .profile-page .activity img {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .profile-page .activity .date {
        margin-top: 20px;
    }
}

@media (min-width:768px) {
    .profile-page .activity .date {
        text-align: center;
        margin-left: auto;
    }

    .profile-page .activity {
        margin-bottom: 25px;
    }
}

/* End other data  */

/* End Profile Page  */